<template name="players">
  {{#if Template.subscriptionsReady}}
  <div class="row">
    <div id="players">
      <div class="col-sm-12">
        <header>
          <h3>Players</h3>
        </header>

        <div class="form-row">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="notPicked">
            <label class="form-check-label" for="notPicked">
              Show only available players
            </label>
          </div>
        </div>

        <table class="table" id="playersTable">
          <thead>
            <tr>
              <th scope="col">Pos</th>
              <th scope="col">Name</th>
              <th scope="col">Team</th>
              <th scope="col">Recent Points</th>
              <th scope="col">Total Points</th>
            </tr>
          </thead>
          <tbody>
            {{#each player in playerSearch}}
              {{> playerEntry data=player}}
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {{else}}
  <div class="row">  
      <div id="Spinner">
          <div class="col-sm-12">
              {{> spinner}}
          </div>
      </div>
  </div>      
  {{/if}}
</template>