<template name="players">
  {{#if Template.subscriptionsReady}}
  <div class="row">
    <div id="players">
      <div class="col-sm-12">
        <header>
          <h3>Players</h3>
        </header>

        <form id="playerSearch">
          <div class="form-row">
            <div class="col-sm-6">
              <label class="form-check-label" for="notPicked">Show only available</label>
              <input class="form-check-input" type="checkbox" value="" id="notPicked">
            </div>

            <div class="col-sm-6">
              <label for="position">Position</label>
              <select class="form-control" id="position">
                <option value="0">All</option>
                <option value="1">GK</option>
                <option value="2">DEF</option>
                <option value="3">MID</option>
                <option value="4">FOR</option>
              </select>
            </div>
          </div>
        </form>

        <table class="table" id="playersTable">
          <thead>
            <tr>
              <th scope="col">Pos</th>
              <th scope="col">Name</th>
              <th scope="col">Fixtures</th>
              <th scope="col"><abbr title="Recent Points">RP</abbr></th>
              <th scope="col"><abbr title="Total Points">TP</abbr></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {{#each player in playerSearch}}
              {{> playerEntry data=player}}
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {{else}}
  <div class="row">  
      <div id="Spinner">
          <div class="col-sm-12">
              {{> spinner}}
          </div>
      </div>
  </div>      
  {{/if}}
</template>