<template name="players">
  <header>
    <h1>Players</h1>
  </header>

  <table class="table" id="players">
    <thead>
      <tr>
        <th scope="col">Position</th>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Total Points</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr ng-repeat="player in $ctrl.players">
        <th scope="row">{{$index + 1}}</th>
        <td>{{player._id}}</td>
        <td>{{player.SearchName}}</td>
        <td>{{player.TotalPoints}}</td>
      </tr> -->
    </tbody>
  </table>
</template>