<template name="playerEntry">
    <tr class="{{getClass}} {{GetPlayerProperty 'Position'}} {{isSelected}}">
        <td class="col-sm-1 position {{GetPlayerProperty 'Position'}}">{{GetPlayerProperty "Position"}}</td>
        <td>{{GetPlayerProperty "Name"}}</td>
        <td>{{GetPlayerProperty "TeamName"}}</td>
        {{#if isTeamPage}}
        <td>    
            {{GetPlayerProperty "NextFixtures"}}
        </td>
        {{/if}}
        <td>{{GetPlayerProperty "RecentPoints"}}</td>
        {{#if isGameweek}}
        <td>
            {{GetPlayerProperty "TotalPoints"}}
        </td>
        {{/if}}
        {{#if isTeamPage}}
        <td>    
            <b>{{GetPlayerProperty "PointsForTeam"}}</b>
        </td>
        {{/if}}
        {{#if showPlayerInfo}}
        <td style="text-align: center">    
            <a class="playerInfo" href="/player/{{GetPlayerProperty '_id'}}">
                <span class="fas fa-{{getInfoIconType (GetPlayerProperty 'ChanceOfPlayingPercentage')}}"></span>
            </a>
        </td>
        {{/if}}
    </tr>
</template>