<template name="gameweekEntry">
    {{#if getWeek data}}
    <h3>
        Lineups / Results <small class="text-muted">GW {{getWeek data}}</small>

        {{#if showPreviousGameweekButton}}
            <button previousGameweek class="btn" name="previousGameweek"><span class="fas fa-angle-double-left"></span></button>
        {{/if}}

        {{#if showNextGameweekButton}}
          <button nextGameweek class="btn" name="nextGameweek"><span class="fas fa-angle-double-right"></span></button>
        {{/if}}
    </h3>
    <table class="table table-hover" id="gameweekEntryTable">
        <thead>
            <tr>
                <th scope="col">Team</th>
                <th scope="col">Lineup</th>
                <th scope="col">Formation</th>
                <th scope="col">Points</th>
            </tr>
        </thead>
        <tbody>
            {{#each gameweek in data}}
            <tr class="gameweek-team toggleGameweekPlayers" id="{{gameweek.Gameweek}}_{{gameweek.TeamId}}">
                <td>{{gameweek.TeamName}}</td>
                <td>
                    {{#if isLineupSetOnTime gameweek}}
                    <span class="fa fa-check" title="{{formatDate gameweek.DateLineupSet}}"></span>
                    {{/if}}

                    {{#if isLineupSetLate gameweek}}
                    <span class="fa fa-clock" title="{{formatDate gameweek.DateLineupSet}}"></span>
                    {{/if}}
                </td>
                <td>{{gameweek.Formation}}</td>
                <td>{{gameweek.TotalPoints}}</td>
            </tr>
            {{#if getSelectedPlayers gameweek.Players}}
            <tr class="hidden gameweekPlayers {{gameweek.Gameweek}}_{{gameweek.TeamId}}">
                <td colspan="4">
                    <table class="table" id="playersTable">
                        <thead>
                            <tr>
                                <th scope="col">Pos</th>
                                <th scope="col">Name</th>
                                <th scope="col">Fixtures</th>
                                <th scope="col">Points</th>
                                <th scope="col"><abbr title="Total Points">TP</abbr></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each player in getSelectedPlayers gameweek.Players}}
                            {{> playerEntry data=player gameweek=(getWeek data)}}
                            {{/each}}
                        </tbody>
                    </table>
                </td>
            </tr>
            {{/if}}
            {{/each}}
        </tbody>
    </table>
    {{/if}}
</template>