<template name="table">
  {{#if data.Gameweek}}
  <header>
      <h3>
        Table <small class="text-muted">GW {{data.Gameweek}}</small> 
        
        {{#if showPreviousGameweekButton}}
          <button previousGameweek class="btn" name="previousGameweek"><span class="fas fa-angle-double-left"></span></button>
        {{/if}}

        {{#if showNextGameweekButton}}
          <button nextGameweek class="btn" name="nextGameweek"><span class="fas fa-angle-double-right"></span></button>
        {{/if}}
      </h3>

      
  </header>

  <table class="table" id="resultsTable">
    <thead>
      <tr>
        <th scope="col">Position</th>
        <th scope="col">Team</th>
        <th scope="col">Points</th>
        <th scope="col">Total</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#each data.Standings}}
        {{> tableEntry}}
      {{/each}}
    </tbody>
  </table>
  {{/if}}
</template>