<template name="table">
  <header>
      <h1>Table - Gameweek {{data.Gameweek}}</h1>
  </header>

  <table class="table" id="resultsTable">
    <thead>
      <tr>
        <td>
          {{#if showPreviousGameweekButton}}
            <button previousGameweek class="btn" name="previousGameweek"><span class="fas fa-angle-double-left"></span></button>
          {{/if}}
        </td>
        <td colspan="3"></td>
        <td>
          {{#if showNextGameweekButton}}
          <button nextGameweek class="btn" name="nextGameweek"><span class="fas fa-angle-double-right"></span></button>
          {{/if}}
        </td>
      </tr>
      <tr>
        <th scope="col">Position</th>
        <th scope="col">Team</th>
        <th scope="col">Points</th>
        <th scope="col">Total</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#each data.Standings}}
        {{> tableEntry}}
      {{/each}}
    </tbody>
  </table>
</template>