<template name="tableEntry">
    <tr>
        <th scope="row">
            {{Position}}
            {{#if movedUp Position PreviousPosition}}
            <span class="fas fa-angle-up"></span>
            {{else}}
                {{#if movedDown Position PreviousPosition}}
                <span class="fas fa-angle-down"></span>
                {{/if}}
            {{/if}}
        </th>
        <td><a href="/team/{{TeamId}}">{{TeamName}}</a></td>
        <td class="{{hasPenalty}}">{{RecentPoints}}</td>
        <td>{{TotalPoints}}</td>
        <td class="pointsBehind text-muted">
            {{#if showPointsBehind PointsBehind}}
                (-{{PointsBehind}})
            {{/if}}
        </td>
    </tr>
</template>