<template name="login">
    {{#unless showLoginForm}}
    <a href="/" id="showLoginForm">Login</a>
    {{/unless}}

    {{#if showLoginForm}}
    <form id="login" class="form-inline">
        <div class="form-group">
            <input type="email" name="loginEmail" class="form-control" placeholder="Email address">
        </div>
        <div class="form-group">
            <input type="password" name="loginPassword" class="form-control" placeholder="Password">
        </div>
        <button type="submit" class="btn" value="Login" title="Login">
            <span class="fa fa-sign-in-alt"></span>
        </button>
        <button type="button" class="btn" value="Cancel" id="cancelLogin" title="Cancel">
            <span class="fa fa-times"></span>
        </button>
    </form>
    {{/if}}
</template>