<template name="playerInfo">
{{#with playerInfo}}
    <div class="row">
        <div class="col-sm-12">
            <h3>{{Forename}} {{Surname}} 
                {{#if showWebName}}
                <small class="text-muted">{{WebName}}</small>
                {{/if}}
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="alert alert-{{getAlertClass}}">
                <span class="fas fa-{{getInfoIconType}} playerInfoStatus"></span> {{getNews}}
            </div>

            {{#if CurrentTeamName}}
            <div>
                <p>Currently plays for <b>{{CurrentTeamName}}</b></p>
            </div>
            {{/if}}
        </div>

        <div class="col-sm-6">
            <h4>Fixtures</h4>

            <div class="row">
                <div class="col-sm-6">
                    <h5>Gameweek {{getGameweek}}</h5>
                    <ul class="list-group list-group-flush">
                    {{#each fixture in CurrentFixtures}}
                        <li class="list-group-item">{{{getFixture fixture}}}</li>
                    {{/each}}
                    </ul>
                </div>

                <div class="col-sm-6">
                    <h5>Gameweek {{getGameweek true}}</h5>
                    <ul class="list-group list-group-flush">
                    {{#each fixture in NextFixtures}}
                        <li class="list-group-item">{{{getFixture fixture}}}</li>
                    {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h3>Stats</h3>

            <div class="row form-group">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-2">
                            Points:
                        </div>
                        <div class="col-sm-2 playerInfoStatValue">
                            {{TotalPoints}}
                        </div>
                        <div class="col-sm-2">
                            Minutes:
                        </div>
                        <div class="col-sm-2 playerInfoStatValue">
                            {{Minutes}}
                        </div>
                        <div class="col-sm-2">
                            <abbr title="Points per minute">PPM:</abbr>
                        </div>
                        <div class="col-sm-2 playerInfoStatValue">
                            {{getPointsPerMinute}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-3">
                            <abbr title="Bonus points system. See how it is calculated here: https://fantasy.premierleague.com/a/help">BPS:</abbr>
                        </div>
                        <div class="col-sm-3 playerInfoStatValue">
                            {{BonusPointsSystem}}
                        </div>
                        <div class="col-sm-3">
                            Bonus Points:
                        </div>
                        <div class="col-sm-3 playerInfoStatValue">
                            {{BonusPoints}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/with}}
</template>