<template name="eventAdmin">
    <header>
        <h1>Events Admin</h1>

        <form class="new-event">
            <input type="text" name="title" placeholder="Event title"/>
            <select name="type">
                <option value="calendar">Calendar</option>
                <option value="match">Match</option>
            </select>
            <input type="datetime-local" name="date" placeholder="Event date and time"/>
            <input type="submit" value="Create" />
        </form>
    </header>

    <ul>
        {{#each events}}
        {{> eventAdminEntry}}
        {{/each}}
    </ul>
</template>

<template name="eventAdminEntry">
    <li>
        <button class="delete">&times;</button> 
        {{Title}} 
        {{Type}} event on 
        {{Date}} 
        (<input type="checkbox" checked="{{showOnHomePage}}" class="toggle-showOnHomePage"/> show on homepage)
    </li>
</template>