<template name="team">
{{#with team}}
    <h3>{{Name}} <small class="text-muted">{{ManagerName}}</small></h3>

    <p>Season: {{SeasonName}}</p>

    <div>
        <h4>
            Current Squad
            {{#if canSetLineup}}
            <button class="btn set-lineup {{getSetLineupButtonClass}}" value="next" {{isLineupDisabled}}>
                {{#if lineupSet}} Update {{else}} Set {{/if}}
                lineup for gameweek {{getGameweek true}}
            </button>
            {{/if}}

            {{#if isAdmin}}
                <a href="/transfer/{{_id}}" class="btn btn-primary">Transfers</a>
            {{/if}}

            {{#if canCompare}}
            <a href="/team/compare/{{getCurrentUserTeamId}}/{{_id}}" class="btn btn-primary">Compare</a>
            {{/if}}
        </h4>
    </div>

    <table class="table table-hover" id="playersTable">
        <thead>
            <tr>
                <th scope="col" class="col-sm-1">Pos</th>
                <th scope="col" class="col-sm-4">Name</th>
                <th scope="col" class="col-sm-1">Team</th>
                <th scope="col" class="col-sm-1">Next</th>
                <th scope="col" class="col-sm-1">Recent Points</th>
                <th scope="col" class="col-sm-1">Total Points</th>
                <th scope="col" class="col-sm-2">Points For Team</th>
                <th scope="col" class="col-sm-1"></th>
            </tr>
        </thead>
        <tbody>
            {{#each player in getPlayers true}}
            {{> playerEntry data=player selected=playersSelected canSelectPlayers=true}}
            {{/each}}
            <tr>
                <td class="text-nowrap"><b>{{getFormation}}</b></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Total: </td>
                <td><b>{{TotalPoints}}</b></td>
                <td></td>
            </tr>
        </tbody>
    </table>

    {{#if getPlayers false}}
    <div>
        <h4>Previous Players</h4>

        <table class="table table-hover" id="playersTable">
            <thead>
                <tr>
                    <th scope="col" class="col-sm-1">Pos</th>
                    <th scope="col" class="col-sm-4">Name</th>
                    <th scope="col" class="col-sm-2">Team</th>
                    <th scope="col" class="col-sm-1">Recent Points</th>
                    <th scope="col" class="col-sm-1">Total Points</th>
                    <th scope="col" class="col-sm-1">Points For Team</th>
                    <th scope="col" class="col-sm-1"></th>
                </tr>
            </thead>
            <tbody>
                {{#each player in getPlayers false}}
                {{> playerEntry data=player canSelectPlayers=false}}
                {{/each}}
            </tbody>
        </table>
    </div>
    {{/if}}
{{/with}}
</template>