<template name="chart">
    <div class="row">
        <canvas id="myChart"></canvas>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <label class="form-check-label" for="customColours">Custom colours</label>
            <input class="form-check-input" type="checkbox" value="" id="customColours">
        </div>
        <div class="col-sm-3">
            <label class="form-check-label" for="onlyOwn">Only own</label>
            <input class="form-check-input" type="checkbox" value="" id="onlyOwn">
        </div>
        <div class="col-sm-3">
            <label class="form-check-label" for="showPoints">Points</label>
            <input class="form-check-input" type="checkbox" value="" id="showPoints">
        </div>
    </div>
</template>